[Desktop Entry]
Name=Milou
Name[cs]=Milou
Name[de]=Milou
Name[es]=Milou
Name[nl]=Milou
Name[pt]=Milou
Name[pt_BR]=Milou
Name[sk]=Milou
Name[sv]=Milou
Name[uk]=Milou
Name[x-test]=xxMilouxx
Comment=Applet for finding anything
Comment[cs]=Applet pro hledání čehokoliv
Comment[de]=Miniprogramm zur Suche
Comment[es]=Miniaplicación para encontrar cualquier cosa
Comment[nl]=Applet voor zoeken naar van alles
Comment[pt]='Applet' para pesquisar de tudo
Comment[pt_BR]=Miniaplicativo para encontrar qualquer coisa
Comment[sk]=Applet na hľadanie všetkého
Comment[sv]=Miniprogram för att hitta vad som helst
Comment[uk]=Аплет для пошуку будь-чого
Comment[x-test]=xxApplet for finding anythingxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=nepomuk

X-KDE-Library=milou_applet
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-KDE-PluginInfo-Name=org.kde.milou
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Author=Vishesh Handa
X-KDE-PluginInfo-Email=me@vhanda.in
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://nepomuk.kde.org
X-KDE-PluginInfo-License=LGPL

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-NotificationArea=true
