[Desktop Entry]
Name=Finder
Comment=Applet for finding anything
Type=Service
ServiceTypes=Plasma/Applet
Icon=nepomuk

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=200,300

X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-KDE-PluginInfo-Name=org.kde.nepomuk.finder
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=Vishesh Handa
X-KDE-PluginInfo-Email=me@vhanda.in
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://nepomuk.kde.org
X-KDE-PluginInfo-License=LGPL

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
