[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=milouvideoplugin
Name=Milou Video Preview Plugin
Name[bs]=Milou Video Pregledni dodatak
Name[da]=Forhåndsvisning-plugin til video til Milou
Name[de]=Milou-Vorschaumodul für Videos
Name[el]=Πρόσθετο προεπισκόπησης βίντεο Milou
Name[es]=Complemento de vista previa para vídeo de Milou
Name[fi]=Miloun videoiden esikatseluliitännäinen
Name[fr]=Module externe d'aperçu vidéo pour Milou
Name[hu]=Milou videó előnézet bővítmény
Name[ko]=Milou 동영상 미리 보기 플러그인
Name[nl]=Milou voorbeeld-plug-in voor video
Name[pl]=Wtyczka podglądu filmów Milou
Name[pt]='Plugin' de Antevisão de Vídeo do Milou
Name[pt_BR]=Plugin de previsão de vídeo do Milou
Name[sk]=Plugin náhľadu videa Milou
Name[sv]=Milou insticksprogram för förhandsgranskning av video
Name[uk]=Додаток попереднього перегляду відео Milou
Name[x-test]=xxMilou Video Preview Pluginxx
Name[zh_CN]=Milou 视频预览插件
Comment=Preview generated for videos
Comment[bs]=Prikaz generiran za video signal
Comment[da]=Forhåndsvisning genereret for videoer
Comment[de]=Vorschau für Videos generieren
Comment[el]=Παραγόμενη προεπισκόπηση για βίντεο
Comment[es]=Vista previa generada para vídeos
Comment[fi]=Videoille generoitu esikatselu
Comment[fr]=Aperçu généré pour des vidéos
Comment[hu]=Videókhoz előállított előnézet
Comment[ko]=동영상에서 생성된 미리 보기
Comment[nl]=Gegenereerd voorbeeld voor video's
Comment[pl]=Podgląd utworzony dla filmów
Comment[pt]=Antevisão gerada para os vídeos
Comment[pt_BR]=Previsão gerada para os vídeos
Comment[sk]=Náhľad vygenerovaný pre videá
Comment[sv]=Förhandsgranskning skapad för videor
Comment[uk]=Створено дані попереднього перегляду для відео
Comment[x-test]=xxPreview generated for videosxx
Comment[zh_CN]=视频文件预览
