[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=milouvideoplugin
Name=Milou Video Preview Plugin
Name[fr]=Module externe d'aperçu vidéo pour Milou
Name[uk]=Додаток попереднього перегляду відео Milou
Name[x-test]=xxMilou Video Preview Pluginxx
Comment=Preview generated for videos
Comment[fr]=Aperçu généré pour des vidéos
Comment[uk]=Створено дані попереднього перегляду для відео
Comment[x-test]=xxPreview generated for videosxx
