[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=MilouPreviewPlugin
Comment=Milou Preview Plugin
Comment[bs]=Milou Preglednji dodataka
Comment[da]=Forhåndsvisning-plugin til Milou
Comment[de]=Milou-Vorschaumodul
Comment[el]=Πρόσθετο προεπισκόπησης Milou
Comment[es]=Complemento de vista previa de Milou
Comment[fi]=Milou esikatseluliitännäinen
Comment[fr]=Module externe Milou
Comment[hu]=Milou előnézet bővítmény
Comment[nl]=Milou voorbeeld-plug-in
Comment[pt]='Plugin' de Antevisão do Milou
Comment[pt_BR]=Plugin de previsão do Milou
Comment[sk]=Plugin náhľadu Milou
Comment[sv]=Milou insticksprogram för förhandsgranskning
Comment[uk]=Додаток попереднього перегляду Milou
Comment[x-test]=xxMilou Preview Pluginxx
