[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=MilouPreviewPlugin
Comment=Milou Preview Plugin
Comment[fr]=Module externe d'aperçu Milou
Comment[uk]=Додаток попереднього перегляду Milou
Comment[x-test]=xxMilou Preview Pluginxx
