[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=milouokularplugin
Name=Milou Okular Preview Plugin
Name[de]=Milou-Vorschaumodul für Okular
Name[hu]=Milou Okular előnézet bővítmény
Name[pt]='Plugin' de Antevisão do Okular do Milou
Name[pt_BR]=Plugin de previsão do Okular do Milou
Name[sv]=Milou Okular insticksprogram för förhandsgranskning
Name[uk]=Додаток попереднього перегляду файлів Okular Milou
Name[x-test]=xxMilou Okular Preview Pluginxx
Comment=Preview generated for documents via Okular
Comment[hu]=Az Okularból származó dokumentumokhoz előállított előnézet
Comment[pt]=Antevisão gerada para os documentos, usando o Okular
Comment[pt_BR]=Previsão gerada para documentos usando o Okular
Comment[sv]=Förhandsgranskning skapad för dokument via Okular
Comment[uk]=За допомогою Okular створено дані попереднього перегляду для документів
Comment[x-test]=xxPreview generated for documents via Okularxx
