[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=milouapplicationplugin
Name=Milou Application Preview Plugin
Name[de]=Milou-Vorschaumodul für Anwendungen
Name[nl]=Milou voorbeeld-plug-in voor toepassing
Name[pt]='Plugin' de Antevisão de Aplicações do Milou
Name[uk]=Додаток попереднього перегляду програм Milou
Name[x-test]=xxMilou Application Preview Pluginxx
