[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=miloufileplugin
Name=Milou File Preview Plugin
Name[de]=Milou-Vorschaumodul für Dateien
Name[hu]=Milou fájl előnézet bővítmény
Name[nl]=Voorbeeld-plug-in van Milou-bestand
Name[pt]='Plugin' de Antevisão de Ficheiros do Milou
Name[pt_BR]=Plugin de previsão de arquivos do Milou
Name[sk]=Plugin náhľadu súboru Milou
Name[sv]=Milou insticksprogram för förhandsgranskning av filer
Name[uk]=Додаток попереднього перегляду файлів Milou
Name[x-test]=xxMilou File Preview Pluginxx
