[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=miloufileplugin
Name=Milou File Preview Plugin
Name[ca]=Connector de vista prèvia de fitxers del Milou
Name[es]=Complemento de vista previa de archivos para Milou
Name[nds]=Milou-Dateivöransichtmoduul
Name[nl]=Voorbeeld-plug-in van Milou-bestand
Name[pl]=Wtyczka podglądu plików Milou
Name[pt]='Plugin' de Antevisão de Ficheiros do Milou
Name[pt_BR]=Plugin de previsão de arquivos do Milou
Name[sv]=Milou insticksprogram för förhandsgranskning av filer
Name[uk]=Додаток попереднього перегляду файлів Milou
Name[x-test]=xxMilou File Preview Pluginxx
