[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=miloutextplugin
Name=Milou Text Preview Plugin
Name[ca]=Connector de vista prèvia de texts del Milou
Name[es]=Complemento de vista previa de texto para Milou
Name[fi]=Miloun tekstin esikatseluliitännäinen
Name[nds]=Milou-Textvöransichtmoduul
Name[nl]=Milou voorbeeld-plug-in voor tekst
Name[pl]=Wtyczka podglądu tekstu Milou
Name[pt]='Plugin' de Antevisão de Texto do Milou
Name[pt_BR]=Plugin de previsão de texto do Milou
Name[sk]=Plugin náhľadu textu Milou
Name[sv]=Milou insticksprogram för förhandsgranskning av text
Name[uk]=Додаток попереднього перегляду тексту Milou
Name[x-test]=xxMilou Text Preview Pluginxx
Comment=Preview generated for text files
Comment[ca]=Vista prèvia generada pels fitxers de text
Comment[es]=Vista previa generada para archivos de texto
Comment[fi]=Tekstitiedostoille generoitu esikatselu
Comment[nds]=För Textdateien opstellt Vöransicht
Comment[nl]=Gegenereerd voorbeeld voor tekstbestanden
Comment[pl]=Podgląd utworzony dla plików tekstowych
Comment[pt]=Antevisão gerada para os ficheiros de texto
Comment[pt_BR]=Previsão gerada para os arquivos de texto
Comment[sk]=Náhľad vygenerovaný pre textové súbory
Comment[sv]=Förhandsgranskning skapad för textfiler
Comment[uk]=Створено дані попереднього перегляду для текстових файлів
Comment[x-test]=xxPreview generated for text filesxx
