[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=milouimageplugin
Name=Milou Image Preview Plugin
Name[bs]=Milou Slika Pregledni dodatak
Name[ca]=Connector per a la vista prèvia d'imatges al Milou
Name[ca@valencia]=Connector de vista prèvia de fitxers del Milou
Name[cs]=Modul náhledů obrázků pro Milou
Name[da]=Forhåndsvisning-plugin til billeder til Milou
Name[de]=Milou-Vorschaumodul für Bilder
Name[el]=Πρόσθετο προεπισκόπησης εικόνας Milou
Name[en_GB]=Milou Image Preview Plugin
Name[es]=Complemento de vista previa de imágenes para Milou
Name[et]=Milou piltide eelvaatluse plugin
Name[eu]=Milou irudi aurrebista plugina
Name[fi]=Miloun kuvien esikatseluliitännäinen
Name[fr]=Module externe d'aperçu d'images pour Milou
Name[gl]=Complemento de vista previa de imaxes Milou
Name[hu]=Milou kép előnézet bővítmény
Name[id]=Milou Citra Preview Plugin
Name[it]=Estensione di Milou per le anteprime delle immagini
Name[ko]=Milou 그림 미리 보기 플러그인
Name[lt]=Milou paveikslų peržiūros priedas
Name[nb]=Milou-tillegg for bilde-forhåndsvisning
Name[nds]=Milou-Bildvöransichtmoduul
Name[nl]=Milou voorbeeld-plug-in voor afbeeldingen
Name[nn]=Milou-tillegg for førehandsvising av bilete
Name[pl]=Wtyczka podglądu obrazów Milou
Name[pt]='Plugin' de Antevisão de Imagens do Milou
Name[pt_BR]=Plugin de previsão de imagem do Milou
Name[ru]=Модуль предварительного просмотра изображений Milou
Name[sk]=Plugin náhľadu obrázku Milou
Name[sl]=Vstavek Milou za predogled slik
Name[sr]=Милуов прикључак прегледа слике
Name[sr@ijekavian]=Милуов прикључак прегледа слике
Name[sr@ijekavianlatin]=Milouov priključak pregleda slike
Name[sr@latin]=Milouov priključak pregleda slike
Name[tr]=Milou Resim Ön İzleme Eklentisi
Name[uk]=Додаток попереднього перегляду зображень Milou
Name[x-test]=xxMilou Image Preview Pluginxx
Name[zh_CN]=Milou 图片预览插件
Name[zh_TW]=Milou 影像預覽外掛程式
Comment=Preview generated for image files
Comment[bs]=Prikaz generiran za sliku datoteke
Comment[ca]=Vista prèvia generada per als fitxers d'imatge
Comment[ca@valencia]=Vista prèvia generada pels fitxers d'imatge
Comment[cs]=Náhled generovaný pro obrázky
Comment[da]=Forhåndsvisning genereret for billedfiler
Comment[de]=Vorschau für Bilddateien generieren
Comment[el]=Παραγόμενη προεπισκόπηση για αρχεία εικόνας
Comment[en_GB]=Preview generated for image files
Comment[es]=Vista previa generada para archivos de imagen
Comment[et]=Pildifailidele genereeritud eelvaatlus
Comment[eu]=Irudi-fitxategietarako sortutako aurrebista
Comment[fi]=Kuvatiedostoille generoitu esikatselu
Comment[fr]=Aperçu généré pour les fichiers image
Comment[gl]=Vista previa xerada para os ficheiros de imaxe
Comment[hu]=Képfájlokhoz előállított előnézet
Comment[id]=Pratinjau yang dihasilkan terhadap file-file citra
Comment[it]=Anteprima generata per immagini
Comment[ko]=그림 파일에서 생성된 미리 보기
Comment[lt]=Sugeneruota paveikslų failų peržiūra
Comment[nb]=Forhåndsvisning laget for bildefiler
Comment[nds]=För Bilddateien opstellt Vöransicht
Comment[nl]=Gegenereerd voorbeeld voor afbeeldingsbestanden
Comment[nn]=Førehandsvising laga for biletfiler
Comment[pl]=Podgląd utworzony dla plików obrazów
Comment[pt]=Antevisão gerada para os ficheiros de imagem
Comment[pt_BR]=Previsão gerada para os arquivos de imagem
Comment[ru]=Создание данных для предварительного просмотра изображений
Comment[sk]=Náhľad vygenerovaný pre súbory obrázkov
Comment[sl]=Predogled slik je bil ustvarjen
Comment[sr]=Преглед за фајлове слика
Comment[sr@ijekavian]=Преглед за фајлове слика
Comment[sr@ijekavianlatin]=Pregled za fajlove slika
Comment[sr@latin]=Pregled za fajlove slika
Comment[tr]=Resim dosyaları için oluşturulan ön izleme
Comment[uk]=Створено дані попереднього перегляду для файлів зображень
Comment[x-test]=xxPreview generated for image filesxx
Comment[zh_CN]=图片文件预览
Comment[zh_TW]=影像檔預覽
