[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=miloubookmarkplugin
Name=Milou Bookmark Preview Plugin
Name[de]=Milou-Vorschaumodul für Lesezeichen
Name[hu]=Milou könyvjelző előnézet bővítmény
Name[pt]='Plugin' de Antevisão de Favoritos do Milou
Name[pt_BR]=Plugin de previsão de favoritos do Milou
Name[sv]=Milou insticksprogram för förhandsgranskning av bokmärken
Name[uk]=Додаток попереднього перегляду закладок Milou
Name[x-test]=xxMilou Bookmark Preview Pluginxx
Comment=Preview generated for bookmarks
Comment[de]=Vorschau für Lesezeichen generieren
Comment[hu]=Könyvjelzőkhöz előállított előnézet
Comment[pt]=Antevisão gerada para os favoritos
Comment[pt_BR]=Previsão gerada para os favoritos
Comment[sv]=Förhandsgranskning skapad för bokmärken
Comment[uk]=Створено дані попереднього перегляду для закладок
Comment[x-test]=xxPreview generated for bookmarksxx
