[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=milouokularplugin
Name=Milou Okular Preview Plugin
Name[bs]=Milou Okular  pregledni dodatak
Name[da]=Forhåndsvisning-plugin til Okular til Milou
Name[de]=Milou-Vorschaumodul für Okular
Name[el]=Πρόσθετο προεπισκόπησης Okular Milou
Name[es]=Complemento de vista previa para Okular de Milou
Name[fi]=Miloun Okular-esikatseluliitännäinen
Name[fr]=Module externe d'aperçu Okular pour Milou
Name[hu]=Milou Okular előnézet bővítmény
Name[ko]=Milou Okular 미리 보기 플러그인
Name[nl]=Milou voorbeeld-plug-in voor Okular
Name[pt]='Plugin' de Antevisão do Okular do Milou
Name[pt_BR]=Plugin de previsão do Okular do Milou
Name[sk]=Plugin náhľadu Okular Milou
Name[sv]=Milou Okular insticksprogram för förhandsgranskning
Name[uk]=Додаток попереднього перегляду файлів Okular Milou
Name[x-test]=xxMilou Okular Preview Pluginxx
Name[zh_CN]=Milou Okular 预览插件
Comment=Preview generated for documents via Okular
Comment[bs]=Prikaz generiran za dokumente putem Okular
Comment[da]=Forhåndsvisning genereret for dokumenter via Okular
Comment[de]=Vorschau für Dokumente mit Okular generieren
Comment[el]=Παραγόμενη προεπισκόπηση για έγγραφα μέσω του Okular
Comment[es]=Vista previa generada para documentos usando Okular
Comment[fi]=Okularin asiakirjoille generoima esikatselu
Comment[fr]=Aperçu généré pour des documents via Okular
Comment[hu]=Az Okularból származó dokumentumokhoz előállított előnézet
Comment[ko]=Okular에서 생성된 문서 미리 보기
Comment[nl]=Gegenereerd voorbeeld voor documenten met Okular
Comment[pt]=Antevisão gerada para os documentos, usando o Okular
Comment[pt_BR]=Previsão gerada para documentos usando o Okular
Comment[sk]=Náhľad vygenerovaný pre dokumenty cez Okular
Comment[sv]=Förhandsgranskning skapad för dokument via Okular
Comment[uk]=За допомогою Okular створено дані попереднього перегляду для документів
Comment[x-test]=xxPreview generated for documents via Okularxx
Comment[zh_CN]=通过 Okular 生成文档预览
