[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=miloubookmarkplugin
Name=Milou Bookmark Preview Plugin
Name[fr]=Module externe d'aperçu des signets pour Milou
Name[uk]=Додаток попереднього перегляду закладок Milou
Name[x-test]=xxMilou Bookmark Preview Pluginxx
Comment=Preview generated for bookmarks
Comment[fr]=Aperçu généré pour les signets
Comment[uk]=Створено дані попереднього перегляду для закладок
Comment[x-test]=xxPreview generated for bookmarksxx
