[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=miloutextplugin
Name=Milou Text Preview Plugin
Name[fr]=Module externe d'aperçu de texte pour Milou
Name[uk]=Додаток попереднього перегляду тексту Milou
Name[x-test]=xxMilou Text Preview Pluginxx
Comment=Preview generated for text files
Comment[fr]=Aperçu généré pour les fichiers texte
Comment[uk]=Створено дані попереднього перегляду для текстових файлів
Comment[x-test]=xxPreview generated for text filesxx
