[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=milouaudioplugin
Name=Milou Audio Preview Plugin
Name[de]=Milou-Vorschaumodul für Audio
Name[pt]='Plugin' de Antevisão de Áudio do Milou
Name[pt_BR]=Plugin de previsão de áudio do Milou
Name[sv]=Milou insticksprogram för förhandsgranskning av ljud
Name[uk]=Додаток поперднього прослуховування Milou
Name[x-test]=xxMilou Audio Preview Pluginxx
Comment=Preview generated for audio files
Comment[pt]=Antevisão gerada para os ficheiros de áudio
Comment[pt_BR]=Previsão gerada para os arquivos de áudio
Comment[sv]=Förhandsgranskning skapad för ljudfiler
Comment[uk]=Створено дані попереднього прослуховування для звукових файлів
Comment[x-test]=xxPreview generated for audio filesxx
