[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=milouimageplugin
Name=Milou Image Preview Plugin
Name[fr]=Module externe d'aperçu d'images pour Milou
Name[uk]=Додаток попереднього перегляду зображень Milou
Name[x-test]=xxMilou Image Preview Pluginxx
Comment=Preview generated for image files
Comment[fr]=Aperçu généré pour les fichiers image
Comment[uk]=Створено дані попереднього перегляду для файлів зображень
Comment[x-test]=xxPreview generated for image filesxx
