[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=milouemailplugin
Name=Milou Email Preview Plugin
Name[de]=Milou-Vorschaumodul für E-Mails
Name[hu]=Milou e-mail előnézet bővítmény
Name[pt]='Plugin' de Antevisão de E-Mail do Milou
Name[pt_BR]=Plugin de previsão de e-mail do Milou
Name[sv]=Milou insticksprogram för förhandsgranskning av e-post
Name[uk]=Додаток попереднього перегляду електронної пошти Milou
Name[x-test]=xxMilou Email Preview Pluginxx
Comment=Preview generated for emails
Comment[de]=Vorschau für E-Mails generieren
Comment[hu]=E-mailekhez előállított előnézet
Comment[pt]=Antevisão gerada para as mensagens de e-mail
Comment[pt_BR]=Previsão gerada para os e-mails
Comment[sv]=Förhandsgranskning skapad för e-post
Comment[uk]=Створено дані попереднього перегляду для повідомлень електронної пошти
Comment[x-test]=xxPreview generated for emailsxx
