[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=milouaudioplugin
Name=Milou Audio Preview Plugin
Name[ca]=Connector de vista prèvia d'àudio del Milou
Name[nl]=Milou audio-voorbeeld-plug-in
Name[pl]=Wtyczka podglądu dźwięku Milou
Name[pt]='Plugin' de Antevisão de Áudio do Milou
Name[pt_BR]=Plugin de previsão de áudio do Milou
Name[sv]=Milou insticksprogram för förhandsgranskning av ljud
Name[uk]=Додаток попереднього прослуховування Milou
Name[x-test]=xxMilou Audio Preview Pluginxx
Comment=Preview generated for audio files
Comment[ca]=Vista prèvia generada pels fitxers d'àudio
Comment[nl]=Gegenereerd voorbeeld voor muziekbestanden
Comment[pl]=Podgląd utworzony dla plików dźwiękowych
Comment[pt]=Antevisão gerada para os ficheiros de áudio
Comment[pt_BR]=Previsão gerada para os arquivos de áudio
Comment[sv]=Förhandsgranskning skapad för ljudfiler
Comment[uk]=Створено дані попереднього прослуховування для звукових файлів
Comment[x-test]=xxPreview generated for audio filesxx
