[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=MilouPreviewPlugin
X-KDE-Library=milouapplicationplugin
Name=Milou Application Preview Plugin
Name[nl]=Milou voorbeeld-plug-in voor toepassing
Name[pl]=Wtyczka podglądu programu Milou
Name[pt_BR]=Plugin de previsão de aplicativos do Milou
Name[sv]=Milou insticksprogram för förhandsgranskning av program
Name[uk]=Додаток попереднього перегляду програм Milou
Name[x-test]=xxMilou Application Preview Pluginxx
